In [1]:
from __future__ import division
import graphlab
import math
import string

In [2]:
Titanic_train = graphlab.SFrame(data="train.csv")
train_data, test_data = Titanic_train.random_split(.8, seed=1)
print len(train_data)
print len(test_data)
Titanic_test = graphlab.SFrame(data="test.csv")

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1474379224.log

This non-commercial license of GraphLab Create for academic use is assigned to dushshantha.chandaradasa@gmail.com and will expire on September 27, 2016.

Finished parsing file /Users/marcus/Developer/Kaggle/Titanic/train.csv

Parsing completed. Parsed 100 lines in 0.021218 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int,str,str,float,int,int,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/marcus/Developer/Kaggle/Titanic/train.csv

Parsing completed. Parsed 891 lines in 0.007973 secs.

712
179

Finished parsing file /Users/marcus/Developer/Kaggle/Titanic/test.csv

Parsing completed. Parsed 100 lines in 0.019261 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str,str,float,int,int,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/marcus/Developer/Kaggle/Titanic/test.csv

Parsing completed. Parsed 418 lines in 0.007736 secs.

In [102]:
train_data.head

<bound method SFrame.head of Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	sex_n	int
	family	int
	kid	int
	teenager	int
	adult	int
	class1	int
	class2	int
	class3	int
	male	int
	female	int

Rows: 712

Data:
+-------------+----------+--------+--------------------------------+--------+
| PassengerId | Survived | Pclass |              Name              |  Sex   |
+-------------+----------+--------+--------------------------------+--------+
|      1      |    0     |   3    |    Braund, Mr. Owen Harris     |  male  |
|      2      |    1     |   1    | Cumings, Mrs. John Bradley...  | female |
|      3      |    1     |   3    |     Heikkinen, Miss. Laina     | female |
|      4      |    1     |   1    | Futrelle, Mrs. Jacques Hea...  | female |
|      5      |    0     |   3    |    Allen, Mr. William Henry    |  male  |
|      6      |    0     |   3    |        Moran, Mr. James        |  male  |
|      7      |    0     |   1    |    McCarthy, Mr. Timothy J     |  male  |
|      8      |    0     |   3    | Palsson, Master. Gosta Leonard |  male  |
|      11     |    1     |   3    | Sandstrom, Miss. Marguerit...  | female |
|      12     |    1     |   1    |    Bonnell, Miss. Elizabeth    | female |
+-------------+----------+--------+--------------------------------+--------+
+---------------+-------+-------+------------------+---------+-------+----------+
|      Age      | SibSp | Parch |      Ticket      |   Fare  | Cabin | Embarked |
+---------------+-------+-------+------------------+---------+-------+----------+
|      22.0     |   1   |   0   |    A/5 21171     |   7.25  |       |    S     |
|      38.0     |   1   |   0   |     PC 17599     | 71.2833 |  C85  |    C     |
|      26.0     |   0   |   0   | STON/O2. 3101282 |  7.925  |       |    S     |
|      35.0     |   1   |   0   |      113803      |   53.1  |  C123 |    S     |
|      35.0     |   0   |   0   |      373450      |   8.05  |       |    S     |
| 29.5261754386 |   0   |   0   |      330877      |  8.4583 |       |    Q     |
|      54.0     |   0   |   0   |      17463       | 51.8625 |  E46  |    S     |
|      2.0      |   3   |   1   |      349909      |  21.075 |       |    S     |
|      4.0      |   1   |   1   |     PP 9549      |   16.7  |   G6  |    S     |
|      58.0     |   0   |   0   |      113783      |  26.55  |  C103 |    S     |
+---------------+-------+-------+------------------+---------+-------+----------+
+-------+--------+-----+----------+-------+--------+--------+--------+-----+
| sex_n | family | kid | teenager | adult | class1 | class2 | class3 | ... |
+-------+--------+-----+----------+-------+--------+--------+--------+-----+
|   1   |   1    |  0  |    0     |   1   |   0    |   0    |   1    | ... |
|   0   |   1    |  0  |    0     |   1   |   1    |   0    |   0    | ... |
|   0   |   0    |  0  |    0     |   1   |   0    |   0    |   1    | ... |
|   0   |   1    |  0  |    0     |   1   |   1    |   0    |   0    | ... |
|   1   |   0    |  0  |    0     |   1   |   0    |   0    |   1    | ... |
|   1   |   0    |  0  |    0     |   1   |   0    |   0    |   1    | ... |
|   1   |   0    |  0  |    0     |   1   |   1    |   0    |   0    | ... |
|   1   |   1    |  1  |    0     |   0   |   0    |   0    |   1    | ... |
|   0   |   1    |  1  |    0     |   0   |   0    |   0    |   1    | ... |
|   0   |   0    |  0  |    0     |   1   |   1    |   0    |   0    | ... |
+-------+--------+-----+----------+-------+--------+--------+--------+-----+
[712 rows x 22 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.>

In [103]:
Titanic_test.head

<bound method SFrame.head of Columns:
	PassengerId	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	sex_n	int
	family	int
	class1	int
	class2	int
	class3	int
	male	int
	female	int
	kid	int
	teenager	int
	adult	int
	Survived	int
	Survived1	int

Rows: 418

Data:
+-------------+--------+-------------------------------+--------+------+-------+
| PassengerId | Pclass |              Name             |  Sex   | Age  | SibSp |
+-------------+--------+-------------------------------+--------+------+-------+
|     892     |   3    |        Kelly, Mr. James       |  male  | 34.5 |   0   |
|     893     |   3    | Wilkes, Mrs. James (Ellen ... | female | 47.0 |   1   |
|     894     |   2    |   Myles, Mr. Thomas Francis   |  male  | 62.0 |   0   |
|     895     |   3    |        Wirz, Mr. Albert       |  male  | 27.0 |   0   |
|     896     |   3    | Hirvonen, Mrs. Alexander (... | female | 22.0 |   1   |
|     897     |   3    |   Svensson, Mr. Johan Cervin  |  male  | 14.0 |   0   |
|     898     |   3    |      Connolly, Miss. Kate     | female | 30.0 |   0   |
|     899     |   2    |  Caldwell, Mr. Albert Francis |  male  | 26.0 |   1   |
|     900     |   3    | Abrahim, Mrs. Joseph (Soph... | female | 18.0 |   0   |
|     901     |   3    |    Davies, Mr. John Samuel    |  male  | 21.0 |   2   |
+-------------+--------+-------------------------------+--------+------+-------+
+-------+-----------+---------+-------+----------+-------+--------+--------+--------+
| Parch |   Ticket  |   Fare  | Cabin | Embarked | sex_n | family | class1 | class2 |
+-------+-----------+---------+-------+----------+-------+--------+--------+--------+
|   0   |   330911  |  7.8292 |       |    Q     |   1   |   0    |   0    |   0    |
|   0   |   363272  |   7.0   |       |    S     |   0   |   1    |   0    |   0    |
|   0   |   240276  |  9.6875 |       |    Q     |   1   |   0    |   0    |   1    |
|   0   |   315154  |  8.6625 |       |    S     |   1   |   0    |   0    |   0    |
|   1   |  3101298  | 12.2875 |       |    S     |   0   |   1    |   0    |   0    |
|   0   |    7538   |  9.225  |       |    S     |   1   |   0    |   0    |   0    |
|   0   |   330972  |  7.6292 |       |    Q     |   0   |   0    |   0    |   0    |
|   1   |   248738  |   29.0  |       |    S     |   1   |   1    |   0    |   1    |
|   0   |    2657   |  7.2292 |       |    C     |   0   |   0    |   0    |   0    |
|   0   | A/4 48871 |  24.15  |       |    S     |   1   |   1    |   0    |   0    |
+-------+-----------+---------+-------+----------+-------+--------+--------+--------+
+--------+------+--------+-----+----------+-----+
| class3 | male | female | kid | teenager | ... |
+--------+------+--------+-----+----------+-----+
|   1    |  1   |   0    |  0  |    0     | ... |
|   1    |  0   |   1    |  0  |    0     | ... |
|   0    |  1   |   0    |  0  |    0     | ... |
|   1    |  1   |   0    |  0  |    0     | ... |
|   1    |  0   |   1    |  0  |    0     | ... |
|   1    |  1   |   0    |  0  |    1     | ... |
|   1    |  0   |   1    |  0  |    0     | ... |
|   0    |  1   |   0    |  0  |    0     | ... |
|   1    |  0   |   1    |  0  |    1     | ... |
|   1    |  1   |   0    |  0  |    0     | ... |
+--------+------+--------+-----+----------+-----+
[418 rows x 23 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.>

In [5]:
Titanic_train.groupby("Cabin", graphlab.aggregate.COUNT)

Columns:
	Cabin	str
	Count	int

Rows: 148

Data:
+-------+-------+
| Cabin | Count |
+-------+-------+
|   C7  |   1   |
|  E121 |   2   |
|  E58  |   1   |
|   A5  |   1   |
|  C78  |   2   |
|  C126 |   2   |
|  C128 |   1   |
|  E46  |   1   |
|   T   |   1   |
|  C101 |   1   |
+-------+-------+
[148 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [6]:
Titanic_train.groupby("Embarked", graphlab.aggregate.COUNT)

Columns:
	Embarked	str
	Count	int

Rows: 4

Data:
+----------+-------+
| Embarked | Count |
+----------+-------+
|    S     |  644  |
|          |   2   |
|    C     |  168  |
|    Q     |   77  |
+----------+-------+
[4 rows x 2 columns]

In [7]:
Titanic_train.groupby("Pclass", graphlab.aggregate.COUNT)

Columns:
	Pclass	int
	Count	int

Rows: 3

Data:
+--------+-------+
| Pclass | Count |
+--------+-------+
|   3    |  491  |
|   1    |  216  |
|   2    |  184  |
+--------+-------+
[3 rows x 2 columns]

In [8]:
Titanic_train.groupby("Sex", graphlab.aggregate.COUNT)

Columns:
	Sex	str
	Count	int

Rows: 2

Data:
+--------+-------+
|  Sex   | Count |
+--------+-------+
|  male  |  577  |
| female |  314  |
+--------+-------+
[2 rows x 2 columns]

In [9]:
train_data["sex_n"] = train_data["Sex"].apply(lambda x: 1 if x == 'male' else 0)
test_data["sex_n"] = test_data["Sex"].apply(lambda x: 1 if x == 'male' else 0)

In [10]:
train_data

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	sex_n	int

Rows: 712

Data:
+-------------+----------+--------+--------------------------------+--------+
| PassengerId | Survived | Pclass |              Name              |  Sex   |
+-------------+----------+--------+--------------------------------+--------+
|      1      |    0     |   3    |    Braund, Mr. Owen Harris     |  male  |
|      2      |    1     |   1    | Cumings, Mrs. John Bradley...  | female |
|      3      |    1     |   3    |     Heikkinen, Miss. Laina     | female |
|      4      |    1     |   1    | Futrelle, Mrs. Jacques Hea...  | female |
|      5      |    0     |   3    |    Allen, Mr. William Henry    |  male  |
|      6      |    0     |   3    |        Moran, Mr. James        |  male  |
|      7      |    0     |   1    |    McCarthy, Mr. Timothy J     |  male  |
|      8      |    0     |   3    | Palsson, Master. Gosta Leonard |  male  |
|      11     |    1     |   3    | Sandstrom, Miss. Marguerit...  | female |
|      12     |    1     |   1    |    Bonnell, Miss. Elizabeth    | female |
+-------------+----------+--------+--------------------------------+--------+
+------+-------+-------+------------------+---------+-------+----------+-------+
| Age  | SibSp | Parch |      Ticket      |   Fare  | Cabin | Embarked | sex_n |
+------+-------+-------+------------------+---------+-------+----------+-------+
| 22.0 |   1   |   0   |    A/5 21171     |   7.25  |       |    S     |   1   |
| 38.0 |   1   |   0   |     PC 17599     | 71.2833 |  C85  |    C     |   0   |
| 26.0 |   0   |   0   | STON/O2. 3101282 |  7.925  |       |    S     |   0   |
| 35.0 |   1   |   0   |      113803      |   53.1  |  C123 |    S     |   0   |
| 35.0 |   0   |   0   |      373450      |   8.05  |       |    S     |   1   |
| None |   0   |   0   |      330877      |  8.4583 |       |    Q     |   1   |
| 54.0 |   0   |   0   |      17463       | 51.8625 |  E46  |    S     |   1   |
| 2.0  |   3   |   1   |      349909      |  21.075 |       |    S     |   1   |
| 4.0  |   1   |   1   |     PP 9549      |   16.7  |   G6  |    S     |   0   |
| 58.0 |   0   |   0   |      113783      |  26.55  |  C103 |    S     |   0   |
+------+-------+-------+------------------+---------+-------+----------+-------+
[712 rows x 13 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [11]:
Titanic_train["sex_n"] = Titanic_train["Sex"].apply(lambda x: 1 if x == 'male' else 0)
logistic_classifier_model = graphlab.logistic_classifier.create(train_data,
                                                      target = 'Survived',
                                                      features=['Pclass', 'Embarked', 'Fare', 'sex_n'],
                                                      validation_set=None)

Logistic regression:

--------------------------------------------------------

Number of examples          : 712

Number of classes           : 2

Number of feature columns   : 4

Number of unpacked features : 4

Number of coefficients    : 7

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+

| Iteration | Passes   | Elapsed Time | Training-accuracy |

+-----------+----------+--------------+-------------------+

| 1         | 2        | 1.003431     | 0.790730          |

| 2         | 3        | 1.004936     | 0.790730          |

| 3         | 4        | 1.006190     | 0.790730          |

| 4         | 5        | 1.007440     | 0.790730          |

| 5         | 6        | 1.008647     | 0.790730          |

| 6         | 7        | 1.009903     | 0.790730          |

+-----------+----------+--------------+-------------------+

SUCCESS: Optimal solution found.

In [12]:
Titanic_train

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	sex_n	int

Rows: 891

Data:
+-------------+----------+--------+--------------------------------+--------+
| PassengerId | Survived | Pclass |              Name              |  Sex   |
+-------------+----------+--------+--------------------------------+--------+
|      1      |    0     |   3    |    Braund, Mr. Owen Harris     |  male  |
|      2      |    1     |   1    | Cumings, Mrs. John Bradley...  | female |
|      3      |    1     |   3    |     Heikkinen, Miss. Laina     | female |
|      4      |    1     |   1    | Futrelle, Mrs. Jacques Hea...  | female |
|      5      |    0     |   3    |    Allen, Mr. William Henry    |  male  |
|      6      |    0     |   3    |        Moran, Mr. James        |  male  |
|      7      |    0     |   1    |    McCarthy, Mr. Timothy J     |  male  |
|      8      |    0     |   3    | Palsson, Master. Gosta Leonard |  male  |
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli...  | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade...  | female |
+-------------+----------+--------+--------------------------------+--------+
+------+-------+-------+------------------+---------+-------+----------+-------+
| Age  | SibSp | Parch |      Ticket      |   Fare  | Cabin | Embarked | sex_n |
+------+-------+-------+------------------+---------+-------+----------+-------+
| 22.0 |   1   |   0   |    A/5 21171     |   7.25  |       |    S     |   1   |
| 38.0 |   1   |   0   |     PC 17599     | 71.2833 |  C85  |    C     |   0   |
| 26.0 |   0   |   0   | STON/O2. 3101282 |  7.925  |       |    S     |   0   |
| 35.0 |   1   |   0   |      113803      |   53.1  |  C123 |    S     |   0   |
| 35.0 |   0   |   0   |      373450      |   8.05  |       |    S     |   1   |
| None |   0   |   0   |      330877      |  8.4583 |       |    Q     |   1   |
| 54.0 |   0   |   0   |      17463       | 51.8625 |  E46  |    S     |   1   |
| 2.0  |   3   |   1   |      349909      |  21.075 |       |    S     |   1   |
| 27.0 |   0   |   2   |      347742      | 11.1333 |       |    S     |   0   |
| 14.0 |   1   |   0   |      237736      | 30.0708 |       |    C     |   0   |
+------+-------+-------+------------------+---------+-------+----------+-------+
[891 rows x 13 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [13]:
logistic_classifier_model

Class                          : LogisticClassifier

Schema
------
Number of coefficients         : 7
Number of examples             : 712
Number of classes              : 2
Number of feature columns      : 4
Number of unpacked features    : 4

Hyperparameters
---------------
L1 penalty                     : 0.0
L2 penalty                     : 0.01

Training Summary
----------------
Solver                         : newton
Solver iterations              : 7
Solver status                  : SUCCESS: Optimal solution found.
Training time (sec)            : 1.0118

Settings
--------
Log-likelihood                 : 327.0769

Highest Positive Coefficients
-----------------------------
Embarked[]                     : 5.7702
(intercept)                    : 3.2082
Embarked[C]                    : 0.4063
Embarked[Q]                    : 0.3879

Lowest Negative Coefficients
----------------------------
sex_n                          : -2.6262
Pclass                         : -0.9576
Fare                           : -0.0014

In [14]:
test_data

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	sex_n	int

Rows: 179

Data:
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli... | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade... | female |
|      15     |    0     |   3    | Vestrom, Miss. Hulda Amand... | female |
|      19     |    0     |   3    | Vander Planke, Mrs. Julius... | female |
|      25     |    0     |   3    | Palsson, Miss. Torborg Danira | female |
|      32     |    1     |   1    | Spencer, Mrs. William Augu... | female |
|      33     |    1     |   3    |    Glynn, Miss. Mary Agatha   | female |
|      37     |    1     |   3    |        Mamee, Mr. Hanna       |  male  |
|      39     |    0     |   3    | Vander Planke, Miss. Augus... | female |
|      51     |    0     |   3    |   Panula, Master. Juha Niilo  |  male  |
+-------------+----------+--------+-------------------------------+--------+
+------+-------+-------+----------+----------+-------+----------+-------+
| Age  | SibSp | Parch |  Ticket  |   Fare   | Cabin | Embarked | sex_n |
+------+-------+-------+----------+----------+-------+----------+-------+
| 27.0 |   0   |   2   |  347742  | 11.1333  |       |    S     |   0   |
| 14.0 |   1   |   0   |  237736  | 30.0708  |       |    C     |   0   |
| 14.0 |   0   |   0   |  350406  |  7.8542  |       |    S     |   0   |
| 31.0 |   1   |   0   |  345763  |   18.0   |       |    S     |   0   |
| 8.0  |   3   |   1   |  349909  |  21.075  |       |    S     |   0   |
| None |   1   |   0   | PC 17569 | 146.5208 |  B78  |    C     |   0   |
| None |   0   |   0   |  335677  |   7.75   |       |    Q     |   0   |
| None |   0   |   0   |   2677   |  7.2292  |       |    C     |   1   |
| 18.0 |   2   |   0   |  345764  |   18.0   |       |    S     |   0   |
| 7.0  |   4   |   1   | 3101295  | 39.6875  |       |    S     |   1   |
+------+-------+-------+----------+----------+-------+----------+-------+
[179 rows x 13 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [15]:
def get_classification_accuracy(model, data, true_labels):
    # First get the predictions

    data['prediction'] = model.predict(data)
    data['true_labels'] = true_labels
    
    # Compute the number of correctly classified examples

    correct_count = len(data[data['prediction'] == data['true_labels']])
    print correct_count
    print len(data)
    # Then compute accuracy by dividing num_correct by total number of examples
    ## YOUR CODE HERE
    accuracy = correct_count / (len(data))
    
    print data
    
    return accuracy

In [16]:
get_classification_accuracy(logistic_classifier_model, test_data, test_data['Survived'])

138
179
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli... | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade... | female |
|      15     |    0     |   3    | Vestrom, Miss. Hulda Amand... | female |
|      19     |    0     |   3    | Vander Planke, Mrs. Julius... | female |
|      25     |    0     |   3    | Palsson, Miss. Torborg Danira | female |
|      32     |    1     |   1    | Spencer, Mrs. William Augu... | female |
|      33     |    1     |   3    |    Glynn, Miss. Mary Agatha   | female |
|      37     |    1     |   3    |        Mamee, Mr. Hanna       |  male  |
|      39     |    0     |   3    | Vander Planke, Miss. Augus... | female |
|      51     |    0     |   3    |   Panula, Master. Juha Niilo  |  male  |
+-------------+----------+--------+-------------------------------+--------+
+------+-------+-------+----------+----------+-------+----------+-------+------------+
| Age  | SibSp | Parch |  Ticket  |   Fare   | Cabin | Embarked | sex_n | prediction |
+------+-------+-------+----------+----------+-------+----------+-------+------------+
| 27.0 |   0   |   2   |  347742  | 11.1333  |       |    S     |   0   |     1      |
| 14.0 |   1   |   0   |  237736  | 30.0708  |       |    C     |   0   |     1      |
| 14.0 |   0   |   0   |  350406  |  7.8542  |       |    S     |   0   |     1      |
| 31.0 |   1   |   0   |  345763  |   18.0   |       |    S     |   0   |     1      |
| 8.0  |   3   |   1   |  349909  |  21.075  |       |    S     |   0   |     1      |
| None |   1   |   0   | PC 17569 | 146.5208 |  B78  |    C     |   0   |     1      |
| None |   0   |   0   |  335677  |   7.75   |       |    Q     |   0   |     1      |
| None |   0   |   0   |   2677   |  7.2292  |       |    C     |   1   |     0      |
| 18.0 |   2   |   0   |  345764  |   18.0   |       |    S     |   0   |     1      |
| 7.0  |   4   |   1   | 3101295  | 39.6875  |       |    S     |   1   |     0      |
+------+-------+-------+----------+----------+-------+----------+-------+------------+
+-------------+
| true_labels |
+-------------+
|      1      |
|      1      |
|      0      |
|      0      |
|      0      |
|      1      |
|      1      |
|      1      |
|      0      |
|      0      |
+-------------+
[179 rows x 15 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

0.770949720670391

In [17]:
logistic_classifier_model_1 = graphlab.logistic_classifier.create(train_data,
                                                      target = 'Survived',
                                                      features=['Pclass', 'Embarked', 'Fare', 'sex_n', 'SibSp', "Parch" ],
                                                      validation_set=None)

Logistic regression:

--------------------------------------------------------

Number of examples          : 712

Number of classes           : 2

Number of feature columns   : 6

Number of unpacked features : 6

Number of coefficients    : 9

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+

| Iteration | Passes   | Elapsed Time | Training-accuracy |

+-----------+----------+--------------+-------------------+

| 1         | 2        | 0.001546     | 0.800562          |

| 2         | 3        | 0.003010     | 0.806180          |

| 3         | 4        | 0.004493     | 0.806180          |

| 4         | 5        | 0.005914     | 0.806180          |

| 5         | 6        | 0.007438     | 0.806180          |

| 6         | 7        | 0.008818     | 0.806180          |

+-----------+----------+--------------+-------------------+

SUCCESS: Optimal solution found.

In [18]:
get_classification_accuracy(logistic_classifier_model_1, test_data, test_data['Survived'])

142
179
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli... | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade... | female |
|      15     |    0     |   3    | Vestrom, Miss. Hulda Amand... | female |
|      19     |    0     |   3    | Vander Planke, Mrs. Julius... | female |
|      25     |    0     |   3    | Palsson, Miss. Torborg Danira | female |
|      32     |    1     |   1    | Spencer, Mrs. William Augu... | female |
|      33     |    1     |   3    |    Glynn, Miss. Mary Agatha   | female |
|      37     |    1     |   3    |        Mamee, Mr. Hanna       |  male  |
|      39     |    0     |   3    | Vander Planke, Miss. Augus... | female |
|      51     |    0     |   3    |   Panula, Master. Juha Niilo  |  male  |
+-------------+----------+--------+-------------------------------+--------+
+------+-------+-------+----------+----------+-------+----------+-------+------------+
| Age  | SibSp | Parch |  Ticket  |   Fare   | Cabin | Embarked | sex_n | prediction |
+------+-------+-------+----------+----------+-------+----------+-------+------------+
| 27.0 |   0   |   2   |  347742  | 11.1333  |       |    S     |   0   |     1      |
| 14.0 |   1   |   0   |  237736  | 30.0708  |       |    C     |   0   |     1      |
| 14.0 |   0   |   0   |  350406  |  7.8542  |       |    S     |   0   |     1      |
| 31.0 |   1   |   0   |  345763  |   18.0   |       |    S     |   0   |     1      |
| 8.0  |   3   |   1   |  349909  |  21.075  |       |    S     |   0   |     0      |
| None |   1   |   0   | PC 17569 | 146.5208 |  B78  |    C     |   0   |     1      |
| None |   0   |   0   |  335677  |   7.75   |       |    Q     |   0   |     1      |
| None |   0   |   0   |   2677   |  7.2292  |       |    C     |   1   |     0      |
| 18.0 |   2   |   0   |  345764  |   18.0   |       |    S     |   0   |     1      |
| 7.0  |   4   |   1   | 3101295  | 39.6875  |       |    S     |   1   |     0      |
+------+-------+-------+----------+----------+-------+----------+-------+------------+
+-------------+
| true_labels |
+-------------+
|      1      |
|      1      |
|      0      |
|      0      |
|      0      |
|      1      |
|      1      |
|      1      |
|      0      |
|      0      |
+-------------+
[179 rows x 15 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

0.7932960893854749

In [19]:
logistic_classifier_model_1

Class                          : LogisticClassifier

Schema
------
Number of coefficients         : 9
Number of examples             : 712
Number of classes              : 2
Number of feature columns      : 6
Number of unpacked features    : 6

Hyperparameters
---------------
L1 penalty                     : 0.0
L2 penalty                     : 0.01

Training Summary
----------------
Solver                         : newton
Solver iterations              : 7
Solver status                  : SUCCESS: Optimal solution found.
Training time (sec)            : 0.0111

Settings
--------
Log-likelihood                 : 321.5931

Highest Positive Coefficients
-----------------------------
Embarked[]                     : 5.4384
(intercept)                    : 3.2068
Embarked[C]                    : 0.3075
Embarked[Q]                    : 0.2101
Fare                           : 0.0015

Lowest Negative Coefficients
----------------------------
sex_n                          : -2.8052
Pclass                         : -0.84
SibSp                          : -0.3049
Parch                          : -0.1275

In [20]:
train_data["family"] = train_data["Parch"] + train_data["SibSp"]
test_data["family"] = test_data["Parch"] + test_data["SibSp"]

In [21]:
train_data["family"] = train_data["family"].apply(lambda x: 1 if x > 0 else 0)
test_data["family"] = test_data["family"].apply(lambda x: 1 if x > 0 else 0)

In [22]:
train_data

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	sex_n	int
	family	int

Rows: 712

Data:
+-------------+----------+--------+--------------------------------+--------+
| PassengerId | Survived | Pclass |              Name              |  Sex   |
+-------------+----------+--------+--------------------------------+--------+
|      1      |    0     |   3    |    Braund, Mr. Owen Harris     |  male  |
|      2      |    1     |   1    | Cumings, Mrs. John Bradley...  | female |
|      3      |    1     |   3    |     Heikkinen, Miss. Laina     | female |
|      4      |    1     |   1    | Futrelle, Mrs. Jacques Hea...  | female |
|      5      |    0     |   3    |    Allen, Mr. William Henry    |  male  |
|      6      |    0     |   3    |        Moran, Mr. James        |  male  |
|      7      |    0     |   1    |    McCarthy, Mr. Timothy J     |  male  |
|      8      |    0     |   3    | Palsson, Master. Gosta Leonard |  male  |
|      11     |    1     |   3    | Sandstrom, Miss. Marguerit...  | female |
|      12     |    1     |   1    |    Bonnell, Miss. Elizabeth    | female |
+-------------+----------+--------+--------------------------------+--------+
+------+-------+-------+------------------+---------+-------+----------+-------+
| Age  | SibSp | Parch |      Ticket      |   Fare  | Cabin | Embarked | sex_n |
+------+-------+-------+------------------+---------+-------+----------+-------+
| 22.0 |   1   |   0   |    A/5 21171     |   7.25  |       |    S     |   1   |
| 38.0 |   1   |   0   |     PC 17599     | 71.2833 |  C85  |    C     |   0   |
| 26.0 |   0   |   0   | STON/O2. 3101282 |  7.925  |       |    S     |   0   |
| 35.0 |   1   |   0   |      113803      |   53.1  |  C123 |    S     |   0   |
| 35.0 |   0   |   0   |      373450      |   8.05  |       |    S     |   1   |
| None |   0   |   0   |      330877      |  8.4583 |       |    Q     |   1   |
| 54.0 |   0   |   0   |      17463       | 51.8625 |  E46  |    S     |   1   |
| 2.0  |   3   |   1   |      349909      |  21.075 |       |    S     |   1   |
| 4.0  |   1   |   1   |     PP 9549      |   16.7  |   G6  |    S     |   0   |
| 58.0 |   0   |   0   |      113783      |  26.55  |  C103 |    S     |   0   |
+------+-------+-------+------------------+---------+-------+----------+-------+
+--------+
| family |
+--------+
|   1    |
|   1    |
|   0    |
|   1    |
|   0    |
|   0    |
|   0    |
|   1    |
|   1    |
|   0    |
+--------+
[712 rows x 14 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [23]:
logistic_classifier_model_2 = graphlab.logistic_classifier.create(train_data,
                                                      target = 'Survived',
                                                      features=['Pclass', 'Embarked', 'Fare', 'sex_n', 'family' ],
                                                      validation_set=None)

Logistic regression:

--------------------------------------------------------

Number of examples          : 712

Number of classes           : 2

Number of feature columns   : 5

Number of unpacked features : 5

Number of coefficients    : 8

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+

| Iteration | Passes   | Elapsed Time | Training-accuracy |

+-----------+----------+--------------+-------------------+

| 1         | 2        | 0.001436     | 0.790730          |

| 2         | 3        | 0.002886     | 0.790730          |

| 3         | 4        | 0.004301     | 0.790730          |

| 4         | 5        | 0.005579     | 0.790730          |

| 5         | 6        | 0.006983     | 0.790730          |

| 6         | 7        | 0.008380     | 0.790730          |

+-----------+----------+--------------+-------------------+

SUCCESS: Optimal solution found.

In [24]:
get_classification_accuracy(logistic_classifier_model_2, test_data, test_data['Survived'])

138
179
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli... | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade... | female |
|      15     |    0     |   3    | Vestrom, Miss. Hulda Amand... | female |
|      19     |    0     |   3    | Vander Planke, Mrs. Julius... | female |
|      25     |    0     |   3    | Palsson, Miss. Torborg Danira | female |
|      32     |    1     |   1    | Spencer, Mrs. William Augu... | female |
|      33     |    1     |   3    |    Glynn, Miss. Mary Agatha   | female |
|      37     |    1     |   3    |        Mamee, Mr. Hanna       |  male  |
|      39     |    0     |   3    | Vander Planke, Miss. Augus... | female |
|      51     |    0     |   3    |   Panula, Master. Juha Niilo  |  male  |
+-------------+----------+--------+-------------------------------+--------+
+------+-------+-------+----------+----------+-------+----------+-------+------------+
| Age  | SibSp | Parch |  Ticket  |   Fare   | Cabin | Embarked | sex_n | prediction |
+------+-------+-------+----------+----------+-------+----------+-------+------------+
| 27.0 |   0   |   2   |  347742  | 11.1333  |       |    S     |   0   |     1      |
| 14.0 |   1   |   0   |  237736  | 30.0708  |       |    C     |   0   |     1      |
| 14.0 |   0   |   0   |  350406  |  7.8542  |       |    S     |   0   |     1      |
| 31.0 |   1   |   0   |  345763  |   18.0   |       |    S     |   0   |     1      |
| 8.0  |   3   |   1   |  349909  |  21.075  |       |    S     |   0   |     1      |
| None |   1   |   0   | PC 17569 | 146.5208 |  B78  |    C     |   0   |     1      |
| None |   0   |   0   |  335677  |   7.75   |       |    Q     |   0   |     1      |
| None |   0   |   0   |   2677   |  7.2292  |       |    C     |   1   |     0      |
| 18.0 |   2   |   0   |  345764  |   18.0   |       |    S     |   0   |     1      |
| 7.0  |   4   |   1   | 3101295  | 39.6875  |       |    S     |   1   |     0      |
+------+-------+-------+----------+----------+-------+----------+-------+------------+
+-------------+--------+
| true_labels | family |
+-------------+--------+
|      1      |   1    |
|      1      |   1    |
|      0      |   0    |
|      0      |   1    |
|      0      |   1    |
|      1      |   1    |
|      1      |   0    |
|      1      |   0    |
|      0      |   1    |
|      0      |   1    |
+-------------+--------+
[179 rows x 16 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

0.770949720670391

In [25]:
test_data

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	sex_n	int
	prediction	int
	true_labels	int
	family	int

Rows: 179

Data:
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli... | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade... | female |
|      15     |    0     |   3    | Vestrom, Miss. Hulda Amand... | female |
|      19     |    0     |   3    | Vander Planke, Mrs. Julius... | female |
|      25     |    0     |   3    | Palsson, Miss. Torborg Danira | female |
|      32     |    1     |   1    | Spencer, Mrs. William Augu... | female |
|      33     |    1     |   3    |    Glynn, Miss. Mary Agatha   | female |
|      37     |    1     |   3    |        Mamee, Mr. Hanna       |  male  |
|      39     |    0     |   3    | Vander Planke, Miss. Augus... | female |
|      51     |    0     |   3    |   Panula, Master. Juha Niilo  |  male  |
+-------------+----------+--------+-------------------------------+--------+
+------+-------+-------+----------+----------+-------+----------+-------+------------+
| Age  | SibSp | Parch |  Ticket  |   Fare   | Cabin | Embarked | sex_n | prediction |
+------+-------+-------+----------+----------+-------+----------+-------+------------+
| 27.0 |   0   |   2   |  347742  | 11.1333  |       |    S     |   0   |     1      |
| 14.0 |   1   |   0   |  237736  | 30.0708  |       |    C     |   0   |     1      |
| 14.0 |   0   |   0   |  350406  |  7.8542  |       |    S     |   0   |     1      |
| 31.0 |   1   |   0   |  345763  |   18.0   |       |    S     |   0   |     1      |
| 8.0  |   3   |   1   |  349909  |  21.075  |       |    S     |   0   |     1      |
| None |   1   |   0   | PC 17569 | 146.5208 |  B78  |    C     |   0   |     1      |
| None |   0   |   0   |  335677  |   7.75   |       |    Q     |   0   |     1      |
| None |   0   |   0   |   2677   |  7.2292  |       |    C     |   1   |     0      |
| 18.0 |   2   |   0   |  345764  |   18.0   |       |    S     |   0   |     1      |
| 7.0  |   4   |   1   | 3101295  | 39.6875  |       |    S     |   1   |     0      |
+------+-------+-------+----------+----------+-------+----------+-------+------------+
+-------------+--------+
| true_labels | family |
+-------------+--------+
|      1      |   1    |
|      1      |   1    |
|      0      |   0    |
|      0      |   1    |
|      0      |   1    |
|      1      |   1    |
|      1      |   0    |
|      1      |   0    |
|      0      |   1    |
|      0      |   1    |
+-------------+--------+
[179 rows x 16 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [26]:
test_data.fillna('Fare', test_data['Fare'].mean())

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	sex_n	int
	prediction	int
	true_labels	int
	family	int

Rows: 179

Data:
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli... | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade... | female |
|      15     |    0     |   3    | Vestrom, Miss. Hulda Amand... | female |
|      19     |    0     |   3    | Vander Planke, Mrs. Julius... | female |
|      25     |    0     |   3    | Palsson, Miss. Torborg Danira | female |
|      32     |    1     |   1    | Spencer, Mrs. William Augu... | female |
|      33     |    1     |   3    |    Glynn, Miss. Mary Agatha   | female |
|      37     |    1     |   3    |        Mamee, Mr. Hanna       |  male  |
|      39     |    0     |   3    | Vander Planke, Miss. Augus... | female |
|      51     |    0     |   3    |   Panula, Master. Juha Niilo  |  male  |
+-------------+----------+--------+-------------------------------+--------+
+------+-------+-------+----------+----------+-------+----------+-------+------------+
| Age  | SibSp | Parch |  Ticket  |   Fare   | Cabin | Embarked | sex_n | prediction |
+------+-------+-------+----------+----------+-------+----------+-------+------------+
| 27.0 |   0   |   2   |  347742  | 11.1333  |       |    S     |   0   |     1      |
| 14.0 |   1   |   0   |  237736  | 30.0708  |       |    C     |   0   |     1      |
| 14.0 |   0   |   0   |  350406  |  7.8542  |       |    S     |   0   |     1      |
| 31.0 |   1   |   0   |  345763  |   18.0   |       |    S     |   0   |     1      |
| 8.0  |   3   |   1   |  349909  |  21.075  |       |    S     |   0   |     1      |
| None |   1   |   0   | PC 17569 | 146.5208 |  B78  |    C     |   0   |     1      |
| None |   0   |   0   |  335677  |   7.75   |       |    Q     |   0   |     1      |
| None |   0   |   0   |   2677   |  7.2292  |       |    C     |   1   |     0      |
| 18.0 |   2   |   0   |  345764  |   18.0   |       |    S     |   0   |     1      |
| 7.0  |   4   |   1   | 3101295  | 39.6875  |       |    S     |   1   |     0      |
+------+-------+-------+----------+----------+-------+----------+-------+------------+
+-------------+--------+
| true_labels | family |
+-------------+--------+
|      1      |   1    |
|      1      |   1    |
|      0      |   0    |
|      0      |   1    |
|      0      |   1    |
|      1      |   1    |
|      1      |   0    |
|      1      |   0    |
|      0      |   1    |
|      0      |   1    |
+-------------+--------+
[179 rows x 16 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [27]:
test_data.fillna('Fare', Titanic_train['Fare'].mean())

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	sex_n	int
	prediction	int
	true_labels	int
	family	int

Rows: 179

Data:
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli... | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade... | female |
|      15     |    0     |   3    | Vestrom, Miss. Hulda Amand... | female |
|      19     |    0     |   3    | Vander Planke, Mrs. Julius... | female |
|      25     |    0     |   3    | Palsson, Miss. Torborg Danira | female |
|      32     |    1     |   1    | Spencer, Mrs. William Augu... | female |
|      33     |    1     |   3    |    Glynn, Miss. Mary Agatha   | female |
|      37     |    1     |   3    |        Mamee, Mr. Hanna       |  male  |
|      39     |    0     |   3    | Vander Planke, Miss. Augus... | female |
|      51     |    0     |   3    |   Panula, Master. Juha Niilo  |  male  |
+-------------+----------+--------+-------------------------------+--------+
+------+-------+-------+----------+----------+-------+----------+-------+------------+
| Age  | SibSp | Parch |  Ticket  |   Fare   | Cabin | Embarked | sex_n | prediction |
+------+-------+-------+----------+----------+-------+----------+-------+------------+
| 27.0 |   0   |   2   |  347742  | 11.1333  |       |    S     |   0   |     1      |
| 14.0 |   1   |   0   |  237736  | 30.0708  |       |    C     |   0   |     1      |
| 14.0 |   0   |   0   |  350406  |  7.8542  |       |    S     |   0   |     1      |
| 31.0 |   1   |   0   |  345763  |   18.0   |       |    S     |   0   |     1      |
| 8.0  |   3   |   1   |  349909  |  21.075  |       |    S     |   0   |     1      |
| None |   1   |   0   | PC 17569 | 146.5208 |  B78  |    C     |   0   |     1      |
| None |   0   |   0   |  335677  |   7.75   |       |    Q     |   0   |     1      |
| None |   0   |   0   |   2677   |  7.2292  |       |    C     |   1   |     0      |
| 18.0 |   2   |   0   |  345764  |   18.0   |       |    S     |   0   |     1      |
| 7.0  |   4   |   1   | 3101295  | 39.6875  |       |    S     |   1   |     0      |
+------+-------+-------+----------+----------+-------+----------+-------+------------+
+-------------+--------+
| true_labels | family |
+-------------+--------+
|      1      |   1    |
|      1      |   1    |
|      0      |   0    |
|      0      |   1    |
|      0      |   1    |
|      1      |   1    |
|      1      |   0    |
|      1      |   0    |
|      0      |   1    |
|      0      |   1    |
+-------------+--------+
[179 rows x 16 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [28]:
rf_Classifier = graphlab.random_forest_classifier.create(train_data,
                                                      target = 'Survived',
                                                      features=['Pclass', 'Embarked', 'Fare', 'sex_n', 'family' ],
                                                      max_iterations=100,
                                                      random_seed=None,
                                                      validation_set=None)

Random forest classifier:

--------------------------------------------------------

Number of examples          : 712

Number of classes           : 2

Number of feature columns   : 5

Number of unpacked features : 5

+-----------+--------------+-------------------+-------------------+

| Iteration | Elapsed Time | Training-accuracy | Training-log_loss |

+-----------+--------------+-------------------+-------------------+

| 1         | 0.002482     | 0.790730          | 0.502984          |

| 2         | 0.005395     | 0.808989          | 0.476065          |

| 3         | 0.008801     | 0.806180          | 0.455713          |

| 4         | 0.011030     | 0.801966          | 0.465880          |

| 5         | 0.014078     | 0.810393          | 0.448521          |

| 6         | 0.017711     | 0.816011          | 0.440433          |

| 11        | 0.033821     | 0.834270          | 0.440076          |

| 51        | 0.169203     | 0.848315          | 0.434613          |

+-----------+--------------+-------------------+-------------------+

In [29]:
get_classification_accuracy(rf_Classifier, test_data, test_data['Survived'])

148
179
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli... | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade... | female |
|      15     |    0     |   3    | Vestrom, Miss. Hulda Amand... | female |
|      19     |    0     |   3    | Vander Planke, Mrs. Julius... | female |
|      25     |    0     |   3    | Palsson, Miss. Torborg Danira | female |
|      32     |    1     |   1    | Spencer, Mrs. William Augu... | female |
|      33     |    1     |   3    |    Glynn, Miss. Mary Agatha   | female |
|      37     |    1     |   3    |        Mamee, Mr. Hanna       |  male  |
|      39     |    0     |   3    | Vander Planke, Miss. Augus... | female |
|      51     |    0     |   3    |   Panula, Master. Juha Niilo  |  male  |
+-------------+----------+--------+-------------------------------+--------+
+------+-------+-------+----------+----------+-------+----------+-------+------------+
| Age  | SibSp | Parch |  Ticket  |   Fare   | Cabin | Embarked | sex_n | prediction |
+------+-------+-------+----------+----------+-------+----------+-------+------------+
| 27.0 |   0   |   2   |  347742  | 11.1333  |       |    S     |   0   |     1      |
| 14.0 |   1   |   0   |  237736  | 30.0708  |       |    C     |   0   |     1      |
| 14.0 |   0   |   0   |  350406  |  7.8542  |       |    S     |   0   |     1      |
| 31.0 |   1   |   0   |  345763  |   18.0   |       |    S     |   0   |     0      |
| 8.0  |   3   |   1   |  349909  |  21.075  |       |    S     |   0   |     0      |
| None |   1   |   0   | PC 17569 | 146.5208 |  B78  |    C     |   0   |     1      |
| None |   0   |   0   |  335677  |   7.75   |       |    Q     |   0   |     1      |
| None |   0   |   0   |   2677   |  7.2292  |       |    C     |   1   |     0      |
| 18.0 |   2   |   0   |  345764  |   18.0   |       |    S     |   0   |     0      |
| 7.0  |   4   |   1   | 3101295  | 39.6875  |       |    S     |   1   |     0      |
+------+-------+-------+----------+----------+-------+----------+-------+------------+
+-------------+--------+
| true_labels | family |
+-------------+--------+
|      1      |   1    |
|      1      |   1    |
|      0      |   0    |
|      0      |   1    |
|      0      |   1    |
|      1      |   1    |
|      1      |   0    |
|      1      |   0    |
|      0      |   1    |
|      0      |   1    |
+-------------+--------+
[179 rows x 16 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

0.8268156424581006

In [30]:
print train_data['Age'].mean()
train_data = train_data.fillna('Age', train_data['Age'].mean())
test_data = test_data.fillna('Age', test_data['Age'].mean())
train_data["kid"] = train_data["Age"].apply(lambda x: 1 if x <= 13 else 0) 
test_data["kid"] = test_data["Age"].apply(lambda x: 1 if x <= 13 else 0) 
train_data["teenager"] = train_data["Age"].apply(lambda x: 1 if x > 13 and x < 20 else 0) 
test_data["teenager"] = test_data["Age"].apply(lambda x: 1 if x > 13 and x < 20 else 0) 
train_data["adult"] = train_data["Age"].apply(lambda x: 1 if x > 20 else 0) 
test_data["adult"] = test_data["Age"].apply(lambda x: 1 if x > 20 else 0)

29.5261754386

In [31]:
train_data

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	sex_n	int
	family	int
	kid	int
	teenager	int
	adult	int

Rows: 712

Data:
+-------------+----------+--------+--------------------------------+--------+
| PassengerId | Survived | Pclass |              Name              |  Sex   |
+-------------+----------+--------+--------------------------------+--------+
|      1      |    0     |   3    |    Braund, Mr. Owen Harris     |  male  |
|      2      |    1     |   1    | Cumings, Mrs. John Bradley...  | female |
|      3      |    1     |   3    |     Heikkinen, Miss. Laina     | female |
|      4      |    1     |   1    | Futrelle, Mrs. Jacques Hea...  | female |
|      5      |    0     |   3    |    Allen, Mr. William Henry    |  male  |
|      6      |    0     |   3    |        Moran, Mr. James        |  male  |
|      7      |    0     |   1    |    McCarthy, Mr. Timothy J     |  male  |
|      8      |    0     |   3    | Palsson, Master. Gosta Leonard |  male  |
|      11     |    1     |   3    | Sandstrom, Miss. Marguerit...  | female |
|      12     |    1     |   1    |    Bonnell, Miss. Elizabeth    | female |
+-------------+----------+--------+--------------------------------+--------+
+---------------+-------+-------+------------------+---------+-------+----------+
|      Age      | SibSp | Parch |      Ticket      |   Fare  | Cabin | Embarked |
+---------------+-------+-------+------------------+---------+-------+----------+
|      22.0     |   1   |   0   |    A/5 21171     |   7.25  |       |    S     |
|      38.0     |   1   |   0   |     PC 17599     | 71.2833 |  C85  |    C     |
|      26.0     |   0   |   0   | STON/O2. 3101282 |  7.925  |       |    S     |
|      35.0     |   1   |   0   |      113803      |   53.1  |  C123 |    S     |
|      35.0     |   0   |   0   |      373450      |   8.05  |       |    S     |
| 29.5261754386 |   0   |   0   |      330877      |  8.4583 |       |    Q     |
|      54.0     |   0   |   0   |      17463       | 51.8625 |  E46  |    S     |
|      2.0      |   3   |   1   |      349909      |  21.075 |       |    S     |
|      4.0      |   1   |   1   |     PP 9549      |   16.7  |   G6  |    S     |
|      58.0     |   0   |   0   |      113783      |  26.55  |  C103 |    S     |
+---------------+-------+-------+------------------+---------+-------+----------+
+-------+--------+-----+----------+-------+
| sex_n | family | kid | teenager | adult |
+-------+--------+-----+----------+-------+
|   1   |   1    |  0  |    0     |   1   |
|   0   |   1    |  0  |    0     |   1   |
|   0   |   0    |  0  |    0     |   1   |
|   0   |   1    |  0  |    0     |   1   |
|   1   |   0    |  0  |    0     |   1   |
|   1   |   0    |  0  |    0     |   1   |
|   1   |   0    |  0  |    0     |   1   |
|   1   |   1    |  1  |    0     |   0   |
|   0   |   1    |  1  |    0     |   0   |
|   0   |   0    |  0  |    0     |   1   |
+-------+--------+-----+----------+-------+
[712 rows x 17 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [32]:
rf_Classifier1 = graphlab.random_forest_classifier.create(train_data,
                                                      target = 'Survived',
                                                      features=['Pclass', 'Embarked', 'Fare', 'sex_n', 'family','kid', 'teenager', 'adult'],
                                                      max_iterations=100,
                                                      random_seed=None,
                                                      validation_set=None)

Random forest classifier:

--------------------------------------------------------

Number of examples          : 712

Number of classes           : 2

Number of feature columns   : 8

Number of unpacked features : 8

+-----------+--------------+-------------------+-------------------+

| Iteration | Elapsed Time | Training-accuracy | Training-log_loss |

+-----------+--------------+-------------------+-------------------+

| 1         | 0.004078     | 0.869382          | 0.390125          |

| 2         | 0.007139     | 0.860955          | 0.436326          |

| 3         | 0.010086     | 0.867977          | 0.415195          |

| 4         | 0.013590     | 0.869382          | 0.413206          |

| 5         | 0.018170     | 0.859551          | 0.413595          |

| 6         | 0.020746     | 0.865169          | 0.420881          |

| 11        | 0.033567     | 0.866573          | 0.408386          |

| 51        | 0.167246     | 0.867977          | 0.411405          |

+-----------+--------------+-------------------+-------------------+

In [33]:
get_classification_accuracy(rf_Classifier1, test_data, test_data['Survived'])

149
179
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli... | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade... | female |
|      15     |    0     |   3    | Vestrom, Miss. Hulda Amand... | female |
|      19     |    0     |   3    | Vander Planke, Mrs. Julius... | female |
|      25     |    0     |   3    | Palsson, Miss. Torborg Danira | female |
|      32     |    1     |   1    | Spencer, Mrs. William Augu... | female |
|      33     |    1     |   3    |    Glynn, Miss. Mary Agatha   | female |
|      37     |    1     |   3    |        Mamee, Mr. Hanna       |  male  |
|      39     |    0     |   3    | Vander Planke, Miss. Augus... | female |
|      51     |    0     |   3    |   Panula, Master. Juha Niilo  |  male  |
+-------------+----------+--------+-------------------------------+--------+
+---------------+-------+-------+----------+----------+-------+----------+-------+
|      Age      | SibSp | Parch |  Ticket  |   Fare   | Cabin | Embarked | sex_n |
+---------------+-------+-------+----------+----------+-------+----------+-------+
|      27.0     |   0   |   2   |  347742  | 11.1333  |       |    S     |   0   |
|      14.0     |   1   |   0   |  237736  | 30.0708  |       |    C     |   0   |
|      14.0     |   0   |   0   |  350406  |  7.8542  |       |    S     |   0   |
|      31.0     |   1   |   0   |  345763  |   18.0   |       |    S     |   0   |
|      8.0      |   3   |   1   |  349909  |  21.075  |       |    S     |   0   |
| 30.3836805556 |   1   |   0   | PC 17569 | 146.5208 |  B78  |    C     |   0   |
| 30.3836805556 |   0   |   0   |  335677  |   7.75   |       |    Q     |   0   |
| 30.3836805556 |   0   |   0   |   2677   |  7.2292  |       |    C     |   1   |
|      18.0     |   2   |   0   |  345764  |   18.0   |       |    S     |   0   |
|      7.0      |   4   |   1   | 3101295  | 39.6875  |       |    S     |   1   |
+---------------+-------+-------+----------+----------+-------+----------+-------+
+------------+-------------+--------+-----+----------+-------+
| prediction | true_labels | family | kid | teenager | adult |
+------------+-------------+--------+-----+----------+-------+
|     0      |      1      |   1    |  0  |    0     |   1   |
|     1      |      1      |   1    |  0  |    1     |   0   |
|     1      |      0      |   0    |  0  |    1     |   0   |
|     0      |      0      |   1    |  0  |    0     |   1   |
|     0      |      0      |   1    |  1  |    0     |   0   |
|     1      |      1      |   1    |  0  |    0     |   1   |
|     1      |      1      |   0    |  0  |    0     |   1   |
|     0      |      1      |   0    |  0  |    0     |   1   |
|     0      |      0      |   1    |  0  |    1     |   0   |
|     0      |      0      |   1    |  1  |    0     |   0   |
+------------+-------------+--------+-----+----------+-------+
[179 rows x 19 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

0.8324022346368715

In [34]:
logistic_classifier_mode3 = graphlab.logistic_classifier.create(train_data,
                                                      target = 'Survived',
                                                      features=['Pclass', 'Embarked', 'Fare', 'sex_n', 'family','kid', 'teenager', 'adult'],
                                                      validation_set=None)

Logistic regression:

--------------------------------------------------------

Number of examples          : 712

Number of classes           : 2

Number of feature columns   : 8

Number of unpacked features : 8

Number of coefficients    : 11

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+

| Iteration | Passes   | Elapsed Time | Training-accuracy |

+-----------+----------+--------------+-------------------+

| 1         | 2        | 0.001592     | 0.793539          |

| 2         | 3        | 0.003235     | 0.799157          |

| 3         | 4        | 0.004840     | 0.806180          |

| 4         | 5        | 0.006994     | 0.806180          |

| 5         | 6        | 0.008582     | 0.806180          |

| 6         | 7        | 0.010066     | 0.806180          |

+-----------+----------+--------------+-------------------+

SUCCESS: Optimal solution found.

In [35]:
get_classification_accuracy(logistic_classifier_mode3, test_data, test_data['Survived'])

140
179
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli... | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade... | female |
|      15     |    0     |   3    | Vestrom, Miss. Hulda Amand... | female |
|      19     |    0     |   3    | Vander Planke, Mrs. Julius... | female |
|      25     |    0     |   3    | Palsson, Miss. Torborg Danira | female |
|      32     |    1     |   1    | Spencer, Mrs. William Augu... | female |
|      33     |    1     |   3    |    Glynn, Miss. Mary Agatha   | female |
|      37     |    1     |   3    |        Mamee, Mr. Hanna       |  male  |
|      39     |    0     |   3    | Vander Planke, Miss. Augus... | female |
|      51     |    0     |   3    |   Panula, Master. Juha Niilo  |  male  |
+-------------+----------+--------+-------------------------------+--------+
+---------------+-------+-------+----------+----------+-------+----------+-------+
|      Age      | SibSp | Parch |  Ticket  |   Fare   | Cabin | Embarked | sex_n |
+---------------+-------+-------+----------+----------+-------+----------+-------+
|      27.0     |   0   |   2   |  347742  | 11.1333  |       |    S     |   0   |
|      14.0     |   1   |   0   |  237736  | 30.0708  |       |    C     |   0   |
|      14.0     |   0   |   0   |  350406  |  7.8542  |       |    S     |   0   |
|      31.0     |   1   |   0   |  345763  |   18.0   |       |    S     |   0   |
|      8.0      |   3   |   1   |  349909  |  21.075  |       |    S     |   0   |
| 30.3836805556 |   1   |   0   | PC 17569 | 146.5208 |  B78  |    C     |   0   |
| 30.3836805556 |   0   |   0   |  335677  |   7.75   |       |    Q     |   0   |
| 30.3836805556 |   0   |   0   |   2677   |  7.2292  |       |    C     |   1   |
|      18.0     |   2   |   0   |  345764  |   18.0   |       |    S     |   0   |
|      7.0      |   4   |   1   | 3101295  | 39.6875  |       |    S     |   1   |
+---------------+-------+-------+----------+----------+-------+----------+-------+
+------------+-------------+--------+-----+----------+-------+
| prediction | true_labels | family | kid | teenager | adult |
+------------+-------------+--------+-----+----------+-------+
|     0      |      1      |   1    |  0  |    0     |   1   |
|     1      |      1      |   1    |  0  |    1     |   0   |
|     1      |      0      |   0    |  0  |    1     |   0   |
|     0      |      0      |   1    |  0  |    0     |   1   |
|     1      |      0      |   1    |  1  |    0     |   0   |
|     1      |      1      |   1    |  0  |    0     |   1   |
|     1      |      1      |   0    |  0  |    0     |   1   |
|     0      |      1      |   0    |  0  |    0     |   1   |
|     1      |      0      |   1    |  0  |    1     |   0   |
|     0      |      0      |   1    |  1  |    0     |   0   |
+------------+-------------+--------+-----+----------+-------+
[179 rows x 19 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

0.7821229050279329

In [36]:

train_data["class1"] = train_data["Pclass"].apply(lambda x: 1 if x == 1 else 0) 
test_data["class1"] = test_data["Pclass"].apply(lambda x: 1 if x == 1 else 0) 
train_data["class2"] = train_data["Pclass"].apply(lambda x: 1 if x == 2 else 0) 
test_data["class2"] = test_data["Pclass"].apply(lambda x: 1 if x == 2 else 0) 
train_data["class3"] = train_data["Pclass"].apply(lambda x: 1 if x == 3 else 0) 
test_data["class3"] = test_data["Pclass"].apply(lambda x: 1 if x == 3 else 0)

In [37]:
logistic_classifier_mode4 = graphlab.logistic_classifier.create(train_data,
                                                      target = 'Survived',
                                                      features=[ 'Embarked', 'Fare', 'sex_n', 'family','kid', 'teenager', 'adult', 'class1', 'class2'],
                                                      validation_set=None)

Logistic regression:

--------------------------------------------------------

Number of examples          : 712

Number of classes           : 2

Number of feature columns   : 9

Number of unpacked features : 9

Number of coefficients    : 12

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+

| Iteration | Passes   | Elapsed Time | Training-accuracy |

+-----------+----------+--------------+-------------------+

| 1         | 2        | 0.001752     | 0.793539          |

| 2         | 3        | 0.003327     | 0.814607          |

| 3         | 4        | 0.004925     | 0.804775          |

| 4         | 5        | 0.006813     | 0.804775          |

| 5         | 6        | 0.008382     | 0.804775          |

| 6         | 7        | 0.010033     | 0.804775          |

+-----------+----------+--------------+-------------------+

SUCCESS: Optimal solution found.

In [38]:
get_classification_accuracy(logistic_classifier_mode4, test_data, test_data['Survived'])

140
179
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli... | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade... | female |
|      15     |    0     |   3    | Vestrom, Miss. Hulda Amand... | female |
|      19     |    0     |   3    | Vander Planke, Mrs. Julius... | female |
|      25     |    0     |   3    | Palsson, Miss. Torborg Danira | female |
|      32     |    1     |   1    | Spencer, Mrs. William Augu... | female |
|      33     |    1     |   3    |    Glynn, Miss. Mary Agatha   | female |
|      37     |    1     |   3    |        Mamee, Mr. Hanna       |  male  |
|      39     |    0     |   3    | Vander Planke, Miss. Augus... | female |
|      51     |    0     |   3    |   Panula, Master. Juha Niilo  |  male  |
+-------------+----------+--------+-------------------------------+--------+
+---------------+-------+-------+----------+----------+-------+----------+-------+
|      Age      | SibSp | Parch |  Ticket  |   Fare   | Cabin | Embarked | sex_n |
+---------------+-------+-------+----------+----------+-------+----------+-------+
|      27.0     |   0   |   2   |  347742  | 11.1333  |       |    S     |   0   |
|      14.0     |   1   |   0   |  237736  | 30.0708  |       |    C     |   0   |
|      14.0     |   0   |   0   |  350406  |  7.8542  |       |    S     |   0   |
|      31.0     |   1   |   0   |  345763  |   18.0   |       |    S     |   0   |
|      8.0      |   3   |   1   |  349909  |  21.075  |       |    S     |   0   |
| 30.3836805556 |   1   |   0   | PC 17569 | 146.5208 |  B78  |    C     |   0   |
| 30.3836805556 |   0   |   0   |  335677  |   7.75   |       |    Q     |   0   |
| 30.3836805556 |   0   |   0   |   2677   |  7.2292  |       |    C     |   1   |
|      18.0     |   2   |   0   |  345764  |   18.0   |       |    S     |   0   |
|      7.0      |   4   |   1   | 3101295  | 39.6875  |       |    S     |   1   |
+---------------+-------+-------+----------+----------+-------+----------+-------+
+------------+-------------+--------+-----+----------+-------+--------+-----+
| prediction | true_labels | family | kid | teenager | adult | class1 | ... |
+------------+-------------+--------+-----+----------+-------+--------+-----+
|     0      |      1      |   1    |  0  |    0     |   1   |   0    | ... |
|     1      |      1      |   1    |  0  |    1     |   0   |   0    | ... |
|     1      |      0      |   0    |  0  |    1     |   0   |   0    | ... |
|     0      |      0      |   1    |  0  |    0     |   1   |   0    | ... |
|     1      |      0      |   1    |  1  |    0     |   0   |   0    | ... |
|     1      |      1      |   1    |  0  |    0     |   1   |   1    | ... |
|     1      |      1      |   0    |  0  |    0     |   1   |   0    | ... |
|     0      |      1      |   0    |  0  |    0     |   1   |   0    | ... |
|     0      |      0      |   1    |  0  |    1     |   0   |   0    | ... |
|     0      |      0      |   1    |  1  |    0     |   0   |   0    | ... |
+------------+-------------+--------+-----+----------+-------+--------+-----+
[179 rows x 22 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

0.7821229050279329

In [39]:
rf_Classifier2 = graphlab.random_forest_classifier.create(train_data,
                                                      target = 'Survived',
                                                      features=[ 'Embarked', 'Fare', 'sex_n', 'family','kid', 'teenager', 'adult', 'class1', 'class2'],
                                                      max_iterations=100,
                                                      random_seed=None,
                                                      validation_set=None)

Random forest classifier:

--------------------------------------------------------

Number of examples          : 712

Number of classes           : 2

Number of feature columns   : 9

Number of unpacked features : 9

+-----------+--------------+-------------------+-------------------+

| Iteration | Elapsed Time | Training-accuracy | Training-log_loss |

+-----------+--------------+-------------------+-------------------+

| 1         | 0.003914     | 0.811798          | 0.451688          |

| 2         | 0.006670     | 0.817416          | 0.436595          |

| 3         | 0.011044     | 0.831461          | 0.441909          |

| 4         | 0.014473     | 0.837079          | 0.428644          |

| 5         | 0.018840     | 0.839888          | 0.425224          |

| 6         | 0.022066     | 0.849719          | 0.418371          |

| 11        | 0.044826     | 0.853933          | 0.417890          |

| 51        | 0.186111     | 0.865169          | 0.415087          |

+-----------+--------------+-------------------+-------------------+

In [40]:
get_classification_accuracy(rf_Classifier2, test_data, test_data['Survived'])

146
179
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli... | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade... | female |
|      15     |    0     |   3    | Vestrom, Miss. Hulda Amand... | female |
|      19     |    0     |   3    | Vander Planke, Mrs. Julius... | female |
|      25     |    0     |   3    | Palsson, Miss. Torborg Danira | female |
|      32     |    1     |   1    | Spencer, Mrs. William Augu... | female |
|      33     |    1     |   3    |    Glynn, Miss. Mary Agatha   | female |
|      37     |    1     |   3    |        Mamee, Mr. Hanna       |  male  |
|      39     |    0     |   3    | Vander Planke, Miss. Augus... | female |
|      51     |    0     |   3    |   Panula, Master. Juha Niilo  |  male  |
+-------------+----------+--------+-------------------------------+--------+
+---------------+-------+-------+----------+----------+-------+----------+-------+
|      Age      | SibSp | Parch |  Ticket  |   Fare   | Cabin | Embarked | sex_n |
+---------------+-------+-------+----------+----------+-------+----------+-------+
|      27.0     |   0   |   2   |  347742  | 11.1333  |       |    S     |   0   |
|      14.0     |   1   |   0   |  237736  | 30.0708  |       |    C     |   0   |
|      14.0     |   0   |   0   |  350406  |  7.8542  |       |    S     |   0   |
|      31.0     |   1   |   0   |  345763  |   18.0   |       |    S     |   0   |
|      8.0      |   3   |   1   |  349909  |  21.075  |       |    S     |   0   |
| 30.3836805556 |   1   |   0   | PC 17569 | 146.5208 |  B78  |    C     |   0   |
| 30.3836805556 |   0   |   0   |  335677  |   7.75   |       |    Q     |   0   |
| 30.3836805556 |   0   |   0   |   2677   |  7.2292  |       |    C     |   1   |
|      18.0     |   2   |   0   |  345764  |   18.0   |       |    S     |   0   |
|      7.0      |   4   |   1   | 3101295  | 39.6875  |       |    S     |   1   |
+---------------+-------+-------+----------+----------+-------+----------+-------+
+------------+-------------+--------+-----+----------+-------+--------+-----+
| prediction | true_labels | family | kid | teenager | adult | class1 | ... |
+------------+-------------+--------+-----+----------+-------+--------+-----+
|     0      |      1      |   1    |  0  |    0     |   1   |   0    | ... |
|     1      |      1      |   1    |  0  |    1     |   0   |   0    | ... |
|     1      |      0      |   0    |  0  |    1     |   0   |   0    | ... |
|     1      |      0      |   1    |  0  |    0     |   1   |   0    | ... |
|     1      |      0      |   1    |  1  |    0     |   0   |   0    | ... |
|     1      |      1      |   1    |  0  |    0     |   1   |   1    | ... |
|     1      |      1      |   0    |  0  |    0     |   1   |   0    | ... |
|     0      |      1      |   0    |  0  |    0     |   1   |   0    | ... |
|     1      |      0      |   1    |  0  |    1     |   0   |   0    | ... |
|     0      |      0      |   1    |  1  |    0     |   0   |   0    | ... |
+------------+-------------+--------+-----+----------+-------+--------+-----+
[179 rows x 22 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

0.8156424581005587

In [41]:
train_data["male"] = train_data["sex_n"].apply(lambda x: 1 if x == 1 else 0) 
test_data["male"] = test_data["sex_n"].apply(lambda x: 1 if x == 1 else 0) 
train_data["female"] = train_data["sex_n"].apply(lambda x: 1 if x == 0 else 0) 
test_data["female"] = test_data["sex_n"].apply(lambda x: 1 if x == 0 else 0)

In [94]:
train_data = train_data.fillna('Embarked', 'S')
test_data = test_data.fillna('Embarked', 'S')
rf_Classifier3 = graphlab.random_forest_classifier.create(train_data,
                                                      target = 'Survived',
                                                      features=[ 'Fare', 'male', 'female', 'family','kid', 'teenager', 'adult', 'class1', 'class2'],
                                                      max_iterations=100,
                                                      random_seed=None,
                                                      validation_set=None)

Random forest classifier:

--------------------------------------------------------

Number of examples          : 712

Number of classes           : 2

Number of feature columns   : 9

Number of unpacked features : 9

+-----------+--------------+-------------------+-------------------+

| Iteration | Elapsed Time | Training-accuracy | Training-log_loss |

+-----------+--------------+-------------------+-------------------+

| 1         | 0.003769     | 0.807584          | 0.441255          |

| 2         | 0.007815     | 0.860955          | 0.407022          |

| 3         | 0.011321     | 0.846910          | 0.421600          |

| 4         | 0.014603     | 0.863764          | 0.412792          |

| 5         | 0.018243     | 0.863764          | 0.410125          |

| 6         | 0.021331     | 0.858146          | 0.416820          |

| 11        | 0.037889     | 0.856742          | 0.412589          |

| 51        | 0.182235     | 0.862360          | 0.405183          |

+-----------+--------------+-------------------+-------------------+

In [95]:
get_classification_accuracy(rf_Classifier3, test_data, test_data['Survived'])

147
179
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli... | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade... | female |
|      15     |    0     |   3    | Vestrom, Miss. Hulda Amand... | female |
|      19     |    0     |   3    | Vander Planke, Mrs. Julius... | female |
|      25     |    0     |   3    | Palsson, Miss. Torborg Danira | female |
|      32     |    1     |   1    | Spencer, Mrs. William Augu... | female |
|      33     |    1     |   3    |    Glynn, Miss. Mary Agatha   | female |
|      37     |    1     |   3    |        Mamee, Mr. Hanna       |  male  |
|      39     |    0     |   3    | Vander Planke, Miss. Augus... | female |
|      51     |    0     |   3    |   Panula, Master. Juha Niilo  |  male  |
+-------------+----------+--------+-------------------------------+--------+
+---------------+-------+-------+----------+----------+-------+----------+-------+
|      Age      | SibSp | Parch |  Ticket  |   Fare   | Cabin | Embarked | sex_n |
+---------------+-------+-------+----------+----------+-------+----------+-------+
|      27.0     |   0   |   2   |  347742  | 11.1333  |       |    S     |   0   |
|      14.0     |   1   |   0   |  237736  | 30.0708  |       |    C     |   0   |
|      14.0     |   0   |   0   |  350406  |  7.8542  |       |    S     |   0   |
|      31.0     |   1   |   0   |  345763  |   18.0   |       |    S     |   0   |
|      8.0      |   3   |   1   |  349909  |  21.075  |       |    S     |   0   |
| 30.3836805556 |   1   |   0   | PC 17569 | 146.5208 |  B78  |    C     |   0   |
| 30.3836805556 |   0   |   0   |  335677  |   7.75   |       |    Q     |   0   |
| 30.3836805556 |   0   |   0   |   2677   |  7.2292  |       |    C     |   1   |
|      18.0     |   2   |   0   |  345764  |   18.0   |       |    S     |   0   |
|      7.0      |   4   |   1   | 3101295  | 39.6875  |       |    S     |   1   |
+---------------+-------+-------+----------+----------+-------+----------+-------+
+------------+-------------+--------+-----+----------+-------+--------+-----+
| prediction | true_labels | family | kid | teenager | adult | class1 | ... |
+------------+-------------+--------+-----+----------+-------+--------+-----+
|     0      |      1      |   1    |  0  |    0     |   1   |   0    | ... |
|     1      |      1      |   1    |  0  |    1     |   0   |   0    | ... |
|     1      |      0      |   0    |  0  |    1     |   0   |   0    | ... |
|     1      |      0      |   1    |  0  |    0     |   1   |   0    | ... |
|     1      |      0      |   1    |  1  |    0     |   0   |   0    | ... |
|     1      |      1      |   1    |  0  |    0     |   1   |   1    | ... |
|     1      |      1      |   0    |  0  |    0     |   1   |   0    | ... |
|     0      |      1      |   0    |  0  |    0     |   1   |   0    | ... |
|     1      |      0      |   1    |  0  |    1     |   0   |   0    | ... |
|     0      |      0      |   1    |  1  |    0     |   0   |   0    | ... |
+------------+-------------+--------+-----+----------+-------+--------+-----+
[179 rows x 24 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

0.8212290502793296

In [83]:
logistic_classifier_mode5 = graphlab.logistic_classifier.create(train_data,
                                                      target = 'Survived',
                                                      features=[ 'Embarked', 'Fare', 'male', 'female', 'family','kid', 'teenager', 'adult', 'class1', 'class2', 'class3'],
                                                      validation_set=None)

Logistic regression:

--------------------------------------------------------

Number of examples          : 712

Number of classes           : 2

Number of feature columns   : 11

Number of unpacked features : 11

Number of coefficients    : 14

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+

| Iteration | Passes   | Elapsed Time | Training-accuracy |

+-----------+----------+--------------+-------------------+

| 1         | 2        | 0.001636     | 0.793539          |

| 2         | 3        | 0.003820     | 0.814607          |

| 3         | 4        | 0.005478     | 0.804775          |

| 4         | 5        | 0.007183     | 0.804775          |

| 5         | 6        | 0.008851     | 0.804775          |

| 6         | 7        | 0.010664     | 0.804775          |

+-----------+----------+--------------+-------------------+

SUCCESS: Optimal solution found.

In [84]:
get_classification_accuracy(logistic_classifier_mode5, test_data, test_data['Survived'])

140
179
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli... | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade... | female |
|      15     |    0     |   3    | Vestrom, Miss. Hulda Amand... | female |
|      19     |    0     |   3    | Vander Planke, Mrs. Julius... | female |
|      25     |    0     |   3    | Palsson, Miss. Torborg Danira | female |
|      32     |    1     |   1    | Spencer, Mrs. William Augu... | female |
|      33     |    1     |   3    |    Glynn, Miss. Mary Agatha   | female |
|      37     |    1     |   3    |        Mamee, Mr. Hanna       |  male  |
|      39     |    0     |   3    | Vander Planke, Miss. Augus... | female |
|      51     |    0     |   3    |   Panula, Master. Juha Niilo  |  male  |
+-------------+----------+--------+-------------------------------+--------+
+---------------+-------+-------+----------+----------+-------+----------+-------+
|      Age      | SibSp | Parch |  Ticket  |   Fare   | Cabin | Embarked | sex_n |
+---------------+-------+-------+----------+----------+-------+----------+-------+
|      27.0     |   0   |   2   |  347742  | 11.1333  |       |    S     |   0   |
|      14.0     |   1   |   0   |  237736  | 30.0708  |       |    C     |   0   |
|      14.0     |   0   |   0   |  350406  |  7.8542  |       |    S     |   0   |
|      31.0     |   1   |   0   |  345763  |   18.0   |       |    S     |   0   |
|      8.0      |   3   |   1   |  349909  |  21.075  |       |    S     |   0   |
| 30.3836805556 |   1   |   0   | PC 17569 | 146.5208 |  B78  |    C     |   0   |
| 30.3836805556 |   0   |   0   |  335677  |   7.75   |       |    Q     |   0   |
| 30.3836805556 |   0   |   0   |   2677   |  7.2292  |       |    C     |   1   |
|      18.0     |   2   |   0   |  345764  |   18.0   |       |    S     |   0   |
|      7.0      |   4   |   1   | 3101295  | 39.6875  |       |    S     |   1   |
+---------------+-------+-------+----------+----------+-------+----------+-------+
+------------+-------------+--------+-----+----------+-------+--------+-----+
| prediction | true_labels | family | kid | teenager | adult | class1 | ... |
+------------+-------------+--------+-----+----------+-------+--------+-----+
|     0      |      1      |   1    |  0  |    0     |   1   |   0    | ... |
|     1      |      1      |   1    |  0  |    1     |   0   |   0    | ... |
|     1      |      0      |   0    |  0  |    1     |   0   |   0    | ... |
|     0      |      0      |   1    |  0  |    0     |   1   |   0    | ... |
|     1      |      0      |   1    |  1  |    0     |   0   |   0    | ... |
|     1      |      1      |   1    |  0  |    0     |   1   |   1    | ... |
|     1      |      1      |   0    |  0  |    0     |   1   |   0    | ... |
|     0      |      1      |   0    |  0  |    0     |   1   |   0    | ... |
|     0      |      0      |   1    |  0  |    1     |   0   |   0    | ... |
|     0      |      0      |   1    |  1  |    0     |   0   |   0    | ... |
+------------+-------------+--------+-----+----------+-------+--------+-----+
[179 rows x 24 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

0.7821229050279329

In [53]:
Titanic_test.groupby("Embarked", graphlab.aggregate.COUNT)

Columns:
	Embarked	str
	Count	int

Rows: 3

Data:
+----------+-------+
| Embarked | Count |
+----------+-------+
|    S     |  270  |
|    C     |  102  |
|    Q     |   46  |
+----------+-------+
[3 rows x 2 columns]

In [54]:
Titanic_test.groupby("Pclass", graphlab.aggregate.COUNT)

Columns:
	Pclass	int
	Count	int

Rows: 3

Data:
+--------+-------+
| Pclass | Count |
+--------+-------+
|   3    |  218  |
|   1    |  107  |
|   2    |   93  |
+--------+-------+
[3 rows x 2 columns]

In [55]:
Titanic_test.groupby("Sex", graphlab.aggregate.COUNT)

Columns:
	Sex	str
	Count	int

Rows: 2

Data:
+--------+-------+
|  Sex   | Count |
+--------+-------+
|  male  |  266  |
| female |  152  |
+--------+-------+
[2 rows x 2 columns]

In [57]:
Titanic_test["sex_n"] = Titanic_test["Sex"].apply(lambda x: 1 if x == 'male' else 0)

In [58]:
Titanic_test["family"] = Titanic_test["Parch"] + Titanic_test["SibSp"]

In [59]:
Titanic_test["family"] = Titanic_test["family"].apply(lambda x: 1 if x > 0 else 0)

In [60]:
Titanic_test = Titanic_test.fillna('Fare', Titanic_test['Fare'].mean())

In [61]:
Titanic_test["class1"] = Titanic_test["Pclass"].apply(lambda x: 1 if x == 1 else 0) 
Titanic_test["class2"] = Titanic_test["Pclass"].apply(lambda x: 1 if x == 2 else 0) 
Titanic_test["class3"] = Titanic_test["Pclass"].apply(lambda x: 1 if x == 3 else 0)

In [62]:
Titanic_test["male"] = Titanic_test["sex_n"].apply(lambda x: 1 if x == 1 else 0)  
Titanic_test["female"] = Titanic_test["sex_n"].apply(lambda x: 1 if x == 0 else 0)

In [67]:
Titanic_test = Titanic_test.fillna('Age', Titanic_test['Age'].mean())
Titanic_test["kid"] = Titanic_test["Age"].apply(lambda x: 1 if x <= 13 else 0) 
Titanic_test["teenager"] = Titanic_test["Age"].apply(lambda x: 1 if x > 13 and x < 20 else 0) 
Titanic_test["adult"] = Titanic_test["Age"].apply(lambda x: 1 if x > 20 else 0)

In [96]:
Titanic_test['Survived'] = rf_Classifier3.predict(Titanic_test)

In [97]:
Titanic_test['PassengerId', 'Survived']

Columns:
	PassengerId	int
	Survived	int

Rows: 418

Data:
+-------------+----------+
| PassengerId | Survived |
+-------------+----------+
|     892     |    0     |
|     893     |    1     |
|     894     |    0     |
|     895     |    0     |
|     896     |    0     |
|     897     |    0     |
|     898     |    1     |
|     899     |    0     |
|     900     |    1     |
|     901     |    0     |
+-------------+----------+
[418 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [98]:
submit = Titanic_test['PassengerId', 'Survived']

In [99]:
submit

Columns:
	PassengerId	int
	Survived	int

Rows: 418

Data:
+-------------+----------+
| PassengerId | Survived |
+-------------+----------+
|     892     |    0     |
|     893     |    1     |
|     894     |    0     |
|     895     |    0     |
|     896     |    0     |
|     897     |    0     |
|     898     |    1     |
|     899     |    0     |
|     900     |    1     |
|     901     |    0     |
+-------------+----------+
[418 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [101]:
submit.save('titanic3.csv', format='csv')

In [78]:
Titanic_test['Survived1'] = logistic_classifier_mode5.predict(Titanic_test)

In [79]:
submit2 = Titanic_test['PassengerId', 'Survived1']

In [80]:
submit2

Columns:
	PassengerId	int
	Survived1	int

Rows: 418

Data:
+-------------+-----------+
| PassengerId | Survived1 |
+-------------+-----------+
|     892     |     0     |
|     893     |     0     |
|     894     |     0     |
|     895     |     0     |
|     896     |     0     |
|     897     |     0     |
|     898     |     1     |
|     899     |     0     |
|     900     |     1     |
|     901     |     0     |
+-------------+-----------+
[418 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [81]:
submit2.rename({'Survived1': 'Survived'})

Columns:
	PassengerId	int
	Survived	int

Rows: 418

Data:
+-------------+----------+
| PassengerId | Survived |
+-------------+----------+
|     892     |    0     |
|     893     |    0     |
|     894     |    0     |
|     895     |    0     |
|     896     |    0     |
|     897     |    0     |
|     898     |    1     |
|     899     |    0     |
|     900     |    1     |
|     901     |    0     |
+-------------+----------+
[418 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [82]:
submit2.save('titanic2.csv', format='csv')